<h1>Oslavme společně kulaté narozeniny naší úžasné paní doktorky</h1>
<p>
  Na začátku léta oslaví <strong>paní doktorka Starková</strong>, která po dobu cca. <strong>55 let pečovala o děti v našem městě Hrádek</strong> jako oddaná pediatrička,
  své 80. narozeniny.
</p>
<p>
   Tyto stránka jsou věnována jí – místo, kde můžete vyjádřit svou vděčnost a podělit se o vzpomínky.
</p>
<h2>
Jak to funguje?
</h2>
@if (userService.tokenSig()) {
  <!-- Verze pro přihlášené uživatele -->
  <ul>
    <li>Na stránce <a routerLink="/prani">přání</a> napište své přání k jejím narozeninám. Nezapomeňte se podepsat.</li>
    <li>Přidejte fotku (volitelně). Pokud chcete, nahrajte fotografii vašeho dítěte (nebo sebe jako dítěte), které paní doktorka léčila.</li>
    <li>Fotky budou součástí společné sbírky vzpomínek, které se zvěční ve fotoknize, kterou bychom předali paní doktorce v červnu 2026 (přesný datum bude upřesněno). </li>
    <li>Během předání "knihy vzpomínek" budete vítání všichni, kteří se budete chtít předání zúčastnit osobně.</li>
  </ul>
} @else {
  <!-- Verze pro anonymní uživatele -->
  <ul>
    <li>Zadáte svůj e-mail, na který vám po odeslání přijde adresa (URL) pro přihlášení do aplikace. Klikněte na odkaz ve vašem e-mailu, abyste mohli pokračovat.</li>
    <li>Detailní informace získáte po zobrazení odkazu z vašeho e-mailu.</li>
    <li>Proč je potřeba se ověřit e-mailem? Protože chceme zamezet anonymům, aby nám plnily data aplikace a také vás potřebujeme informovat o detailech, které se mouhou s blížícím se termínem měnit.</li>
  </ul>
}

<p>
Všechna přání a fotky budou shromážděna a předána paní doktorce jako krásný dárek k narozeninám.
Přidejte se a pomozte nám vytvořit nezapomenutelnou oslavu.
Děkujeme za vaši účast!
</p>

<p>
@if (!!!userService.tokenSig()) {
  <app-mail></app-mail>
}
