<h1>Kulaté narozeniny naší úžasné paní doktorky Starkové</h1>
<p>
  Na začátku léta oslaví <strong>paní doktorka Starková</strong>, která <strong>přes padesát let pečovala o děti v našem městě Hrádek</strong> jako oddaná pediatrička,
  své významné výročí.
</p>
<p>
   Tyto stránky jsou věnovány právě paní doktorce Starkové – místo, kde můžete vyjádřit svou vděčnost a podělit se o vzpomínky.
</p>
<h2>
Jak to funguje?
</h2>
@if (userService.tokenSig()) {
  <!-- Verze pro přihlášené uživatele -->
  <ul>
    <li>Na stránce <a routerLink="/prani">přání</a> napište své přání k jejím narozeninám. Nezapomeňte se podepsat.</li>
    <li>Přidejte fotku (volitelně). Pokud chcete, nahrajte fotografii vašeho dítěte (nebo sebe jako dítěte), které paní doktorka léčila.</li>
    <li>Fotky budou součástí společné sbírky vzpomínek, které se zvěční ve fotoknize, kterou bych předal paní doktorce v červnu 2026. </li>
  </ul>
} @else {
  <!-- Verze pro anonymní uživatele -->
  <ul>
    <li>Zadáte svůj e-mail, na který vám po odeslání přijde adresa (URL) pro přihlášení do aplikace. Klikněte na odkaz ve vašem e-mailu, abyste mohli pokračovat.</li>
    <li>Detailní informace získáte po zobrazení odkazu z vašeho e-mailu.</li>
    <li>Proč je potřeba se ověřit e-mailem? Protože aplikace nepoužívá hesla.</li>
  </ul>
}

<nz-space nzDirection="vertical">
  @if (userService.tokenSig()) {
    <div>
      Všechna přání a fotky budou shromážděna a předána paní doktorce jako krásný dárek k narozeninám.<br>
    </div>
    <div>
      Přidejte se a pomozte nám vytvořit vzpomínky pro paní doktorku Starkovou, aby věděla, že jsme na ní nezapomněli.<br>
    </div>
    <div>
      Děkujeme za vaši účast!
    </div>
  } @else {
    <div>
      <app-mail></app-mail>
    </div>
  }
  <div><em>Aplikaci bude možné používat do 31.&nbsp;5.&nbsp;2026 včetně.</em></div>
</nz-space>
