<h1>Napište své přání popřípadě přiložte fotografii</h1>
<p><em>Ve fotoknize bude uvedena vaše fotografie a pod ní zadaný text. Pokud nebude fotografie přiložena, tak se použije
    pouze text.</em></p>
<nz-divider></nz-divider>
<form nz-form (ngSubmit)="submitForm()" #form="ngForm">
  <nz-form-item>
    <nz-form-label>Fotografie</nz-form-label>
    <div>
      <div nz-row [nzGutter]="16">
        <div nz-col>
          <img nz-image [nzSrc]="previewUrl() || fallback" [nzFallback]="fallback" alt=""
            style="max-width: 300px; max-height: 300px; width: auto; height: auto;" />
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col>
          <nz-upload nzAction="/api/photo" (nzChange)="handleChange($event)" [nzBeforeUpload]="beforeUpload"
            [nzFileList]="fileList()" [nzRemove]="removeFoto"
            [nzShowUploadList]="{ showPreviewIcon: false, showRemoveIcon: true, showDownloadIcon: false }">
            <button nz-button>
              <nz-icon nzType="upload" />
              Nahrát fotografii
            </button>
          </nz-upload>
        </div>
      </div>
    </div>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Text přání</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="textPraniErrorTpl"
      [nzExtra]="`Nezapomeňte na podpis, aby paní doktorka věděla, od koho je zadaný text. Text může obsahovat maximálně ${maxTextLength} znaků.`">
      <nz-textarea-count [nzMaxCharacterCount]="maxTextLength">
        <textarea [(ngModel)]="textPrani" name="textPrani" nz-input rows="5" placeholder="Text přání" required
          [maxlength]="maxTextLength"></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>
  <ng-template #textPraniErrorTpl let-control>
    @if (control.hasError('maxlength')) {
    <ng-container>
      Text přání nesmí přesáhnout {{ maxTextLength }} znaků. Aktuální počet znaků je {{ control.value?.length || 0 }}.
    </ng-container>
    } @else if (control.hasError('required')) {
    <ng-container>
      Napište vaše přání.
    </ng-container>
    }
  </ng-template>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!form.valid || !form.dirty">Odeslat</button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-space nzDirection="vertical">
  @if (textContent()) {
  <div>
    <nz-alert nzType="success" nzMessage="Vaše přání jsem úspěšně zaznamenal"
      nzDescription="Moc si vážím toho, že jste se ke mě připojili." nzShowIcon></nz-alert>
  </div>
  }

  @if (aktualizace()) {
  <div><em>Poslední změna byla provedena: {{ aktualizace() | date:'medium' }}</em></div>
  }
</nz-space>